<div class="uw-row-full uw-pad-tb-l">
  <div class="uw-row">
    <div class="uw-col uw-body">
      <h1><%= @heading %></h1>

      <%= @body %><br/>

      <br />
      This is a production brought to you by Paul Ramirez
    </div>
  </div>
</div>

