<div class="uw-row-full uw-pad-tb-l">
  <div class="uw-row">
    <div class="uw-col uw-body">
      <h1><%= @heading %></h1>

      <%= @body %>
      <table>
        <tr>
          <td>Category</td>
          <td>Sub category</td>
          <td>Sub sub category</td>
        </tr>
        <tr>
          <td colspan="2">
            Education
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>committees</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>

