<!-- UW navbar -->
<div class="uw-global-bar">
  <a class="uw-global-name-link" href="http://www.wisc.edu"><i class="fa fa-graduation-cap"></i> U<span>niversity <span class="uw-of">of</span> </span>W<span>isconsin</span>–Madison</a>
</div>

<header class="uw-header">
  <div class="uw-header-container">
    <div class="uw-header-crest-title">
      <div class="uw-header-crest">
        <a href="http://www.wisc.edu"><%= image_tag("uw-crest.svg") %></a>
      </div>
      <div class="uw-title-tagline">
        <h1 id="site-title" class="uw-site-title">
          <a href="<%= root_url %>" rel="home">DEPARTMENT OF RADIOLOGY</a>
        </h1>
        <div id="site-description" class="uw-site-tagline">School of Medicine and Public Health</div>
      </div>

    </div>
  </div>
</header>